.movies{
   
        margin: 10px;
        width:auto;
        height: 450px;
        border-radius: 10px;
        box-shadow: 2px 2px 9px 2px lightblue;
        display: flex;
        justify-content: space-evenly;
        
       
        
    
}